<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/internal-page-head.view.html %>
  <% include ../partials/form-helpers.html %>
  <style>
    p.error {

    }
    p.field-error {

    }
    p.form-error {

    }
    p.success {

    }
  </style>
</head>
<body>
  <header><% include ../partials/public-header.view.html %></header>

  <h1>Reset Password</h1>

  <form id="userForm" name="userForm" action="">
  <fieldset>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" autocomplete="home email" required>

    <input type="submit" id="submit" name="submit" value="Send Reset Link">
  </fieldset>
  </form>

  <script>
  "use strict";

  (function ($, Form) {
    $(document).ready(function () {
      var $form = $('form[name="userForm"]');
      var fieldNameMap = {
        email: 'email'
      };
      var validationRules = {
        form: { message: 'This form has some invalid fields. Please fix them before re-submitting' },
        email: {
          email: { value: true, message: 'Email field must be a valid email.' },
          required: { value: true, message: 'Email field is required.' }
        }
      };


      $form.submit(function onSubmit (e) {
        e.preventDefault();

        if (!Form.validateForm($form, validationRules)) return;

        $.post('/api/auth/forgot', Form.getFormFields($form, fieldNameMap))
          .done(function onSuccess (data) {
            $('input[type=submit]').after($('<p/>').attr('class', 'success').text(
              'A password reset link has been emailed to you.'
            ));
          }).fail(function onError (xhr, status, err) {
            Form.insertFormError($form, err);
          });
      });
    });
  }(jQuery, window.Form));
  </script>
</body>
</html>
