<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/internal-page-head.view.html %>
  <% include ../partials/form-helpers.html %>
  <style>
    p.error {

    }
    p.field-error {

    }
    p.form-error {

    }
  </style>
</head>
<body>
  <header><% include ../partials/public-header.view.html %></header>

  <h1>Signin page</h1>

  <form id="userForm" name="userForm" action="">
  <fieldset>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" autocomplete="home email" required>

    <label for="current-password">Password</label>
    <input type="password" id="current-password" name="current-password" autocomplete="current-password" required>

    <input type="submit" id="submit" name="submit" value="Signin">
  </fieldset>
  </form>

  <script>
  "use strict";

  (function ($) {
    $(document).ready(function () {
      var $form = $('form[name="userForm"]');
      var fieldNameMap = {
        email: 'email',
        'current-password': 'password'
      };
      var validationRules = {
        form: { message: 'This form has some invalid fields. Please fix them before re-submitting' },
        email: {
          email: { value: true, message: 'Email field must be a valid email.' },
          required: { value: true, message: 'Email field is required.' }
        },
        'current-password': {
          required: { value: true, message: 'Password is required.' }
        }
      };


      $form.submit(function onSubmit (e) {
        e.preventDefault();

        if (!Form.validateForm($form, validationRules)) return;

        $.post('api/auth/signin', Form.getFormFields($form, fieldNameMap))
          .done(function onSuccess (data) {
            window.location.replace('/dashboard');
          }).fail(function onError (xhr, status, err) {
            Form.insertFormError($form, status);
          });
      });
    });
  }(jQuery));
  </script>
</body>
</html>
