<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/internal-page-head.view.html %>
  <% include ../partials/form-helpers.html %>
  <style>
    p.error {

    }
    p.field-error {

    }
    p.form-error {

    }
  </style>
</head>
<body>
  <header><% include ../partials/public-header.view.html %></header>

  <h1>Signup Page</h1>

  <form id="userForm" name="userForm" action="">
  <fieldset>
    <label for="given-name">First Name</label>
    <input type="text" id="given-name" name="given-name" autocomplete="given-name">

    <label for="family-name">Last Name</label>
    <input type="text" id="family-name" name="family-name" autocomplete="family-name">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" autocomplete="home email" required>

    <label for="new-password">Password</label>
    <input type="password" id="new-password" name="new-password" autocomplete="off" required>

    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" autocomplete="off" required>

    <input type="submit" id="submit" name="submit" value="Signup">
  </fieldset>
  </form>

  <script>
  "use strict";

  (function ($, Form) {
    $(document).ready(function () {
      var $form = $('form[name="userForm"]');
      var fieldNameMap = {
        'given-name': 'firstName',
        'family-name': 'lastName',
        email: 'email',
        'new-password': 'password'
      };
      var validationRules = {
        form: { message: 'This form has some invalid fields. Please fix them before re-submitting' },
        'given-name': {
          maxLength: { value: 50, message: 'First Name must be under 50 characters.' }
        },
        'family-name': {
          maxLength: { value: 50, message: 'Last Name must be under 50 characters.' }
        },
        email: {
          email: { value: true, message: 'Email field must be a valid email.' },
          required: { value: true, message: 'Email field is required.' }
        },
        'new-password': {
          minLength: { value: 5, message: 'Password must be at least 5 characters.' },
          maxLength: { value: 256, message: 'Password must be no more than 256 characters.' },
          required: { value: true, message: 'Password is required.' }
        },
        'confirm-password': {
          rules: [
            function customRules (fieldValue, fieldsHash) {
              return fieldsHash['new-password'].val() === fieldValue || 'Passwords must match';
            }
          ]
        }
      };

      $form.submit(function onSubmit (e) {
        e.preventDefault();

        if (!Form.validateForm($form, validationRules)) return;

        $.post('api/auth/signup', Form.getFormFields($form, fieldNameMap))
          .done(function onSuccess (data) {
            window.location.replace('/dashboard');
          }).fail(function onError (xhr, status, err) {
            Form.insertFormError($form, err);
          });
      });
    });
  }(jQuery, window.Form));
  </script>
</body>
</html>
