<script>
'use strict';

(function ($, window) {
  var RFC5322EmailRegex = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;

  var cachedFormFields = {};

  window.Form = {
    getFormFields: function getFormFields ($form, fieldNameMap) {
      return $form.find('input').toArray().reduce(function buildSumission (acc, field) {
        var $field = $(field);
        var submissionFieldName = fieldNameMap[$field.attr('name')];
        if (submissionFieldName) acc[submissionFieldName] = $field.val();

        return acc;
      }, {});
    },

    setFormFields: function setFormFields ($form, fieldNameMap, data) {
      $form.find('input').toArray().forEach(function (field) {
        var $field = $(field);
        var value = data[fieldNameMap[$field.attr('name')]];
        if (value) $field.val(value);
      });
    },

    insertFormError: function insertFormError ($form, errorString) {
      $form.find('input[name="submit"]').after([
        '<p class="error form-error">',
        errorString,
        '</p>'
      ].join(''));
    },

    validateForm: function validateForm ($form, validationRules) {
      // remove old error messages
      // this is not efficient and could be improved to recycle error message elements
      $form.find('.field-error').remove();
      $form.find('.form-error').remove();

      var valid = true;

      var formName = $form.attr('name');
      var fields = cachedFormFields[formName] || $form.find('input').toArray();
      cachedFormFields[formName] = fields;

      // for use by custom rules
      var fieldsHash = fields.reduce(function hashByName (acc, field, i) {
        var $field = $(field);
        acc[$field.attr('name') || i] = $field;
        return acc;
      }, {});

      fields.forEach(function validAndShowErrors (field) {
        var $field = $(field);
        var fieldName = $field.attr('name');
        if (!fieldName) return;

        var ruleObject = validationRules[fieldName];
        if (!ruleObject) return;

        var fieldValue = $field.val();
        var errors = [];

        Object.keys(ruleObject).forEach(function validateFieldRules (ruleName) {
          var rule = ruleObject[ruleName];
          var ruleValue = rule.value;
          var ruleMessage = rule.message || '';
          if (ruleName !== 'rules' && ruleValue === undefined) return;

          switch (ruleName) {
            case 'minLength':
              if (fieldValue.toString().length < ruleValue) errors.push(ruleMessage);
              break;
            case 'maxLength':
              if (fieldValue.toString().length > ruleValue) errors.push(ruleMessage);
              break;
            case 'email':
              if (!RFC5322EmailRegex.test(fieldValue.toString())) errors.push(ruleMessage);
              break;
            case 'required':
              if ([undefined, null, ''].indexOf(fieldValue) !== -1) error.push(ruleMessage);
              break;
            // special case: rule is an array of functions
            // functions are passed fieldValue, fieldsHash where fieldsHash is an hash of fields by name
            case 'rules':
              if (!Array.isArray(rule)) return;
              rule.forEach(function validateCustomRules (customRule) {
                if (typeof customRule !== 'function') return;
                var customRuleResult = customRule(fieldValue, fieldsHash);
                if (customRuleResult === true) return;
                errors.push(customRuleResult || '')
              });
              break;
            default:
              break;
          }
        });

        // add field-level error messages
        if (errors.length) {
          valid = false;
          $field.addClass('invalid');
          $field.after(errors.reduce(function wrapErrorsInPTagClassError (acc, error) {
            acc.push('<p class="error field-error">', error, '</p>');
            return acc;
          }, []).join(''));
        } else {
          if ($field.hasClass('invalid')) $field.removeClass('invalid');
        }
      });

      // add form-level error messages
      if (!valid) {
        $form.find('input[name="submit"]').after([
          '<p class="error form-error">',
          (validationRules.form && validationRules.form.message || 'This form has some invalid fields. Please fix them before re-submitting'),
          '</p>'
        ].join(''));
      }

      return valid;
    }
  };
}(jQuery, window));
</script>
