<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/internal-page-head.view.html %>
  <% include ../partials/form-helpers.html %>
  <style>
    p.error {

    }
    p.field-error {

    }
    p.form-error {

    }
  </style>
</head>
<body>
  <header><% include ../partials/user-header.view.html %></header>

  <h1>Change Password</h1>

  <form id="userForm" name="userForm" action="">
  <fieldset>
    <label for="current-password">Current Password</label>
    <input type="password" id="current-password" name="current-password" autocomplete="off">

    <label for="new-password">New Password</label>
    <input type="password" id="new-password" name="new-password" autocomplete="off">

    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" autocomplete="off" required>

    <input type="submit" id="submit" name="submit" value="Update Password">
  </fieldset>
  </form>

  <script>
  "use strict";

// req.body = { currentPassword: String, verifyPassword: String, newPassword: String }
  (function ($, Form) {
    $(document).ready(function () {
      var $form = $('form[name="userForm"]');
      var fieldNameMap = {
        'current-password': 'currentPassword',
        'new-password': 'newPassword',
        'confirm-password': 'verifyPassword'
      };
      var validationRules = {
        form: { message: 'This form has some invalid fields. Please fix them before re-submitting' },
        'new-password': {
          minLength: { value: 5, message: 'Password must be at least 5 characters.' },
          maxLength: { value: 256, message: 'Password must be no more than 256 characters.' },
          required: { value: true, message: 'Password is required.' }
        },
        'confirm-password': {
          rules: [
            function customRules (fieldValue, fieldsHash) {
              return fieldsHash['new-password'].val() === fieldValue || 'Passwords must match';
            }
          ]
        }
      };

      $form.submit(function onSubmit (e) {
        e.preventDefault();

        if (!Form.validateForm($form, validationRules)) return;

        $.post('api/users/password', Form.getFormFields($form, fieldNameMap))
          .done(function onSuccess (data) {
            window.location.replace('/dashboard');
          })
          .fail(function onError (xhr, status, err) {
            Form.insertFormError($form, err);
          });
      });
    });
  }(jQuery, window.Form));
  </script>
</body>
</html>
