<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/internal-page-head.view.html %>
  <% include ../partials/form-helpers.html %>
  <style>
    p.error {

    }
    p.field-error {

    }
    p.form-error {

    }
  </style>
</head>
<body>
  <header><% include ../partials/user-header.view.html %></header>

  <h1>Edit Profile Page</h1>

  <form id="userForm" name="userForm" action="">
  <fieldset>
    <label for="given-name">First Name</label>
    <input type="text" id="given-name" name="given-name" autocomplete="given-name">

    <label for="family-name">Last Name</label>
    <input type="text" id="family-name" name="family-name" autocomplete="family-name">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" autocomplete="home email" required>

    <input type="submit" id="submit" name="submit" value="Update">
  </fieldset>
  </form>

  <script>
  "use strict";

  (function ($, Form) {
    $(document).ready(function ($) {
      var $form = $('form[name="userForm"]');
      var fieldNameMap = {
        'given-name': 'firstName',
        'family-name': 'lastName',
        email: 'email'
      };
      var validationRules = {
        form: { message: 'This form has some invalid fields. Please fix them before re-submitting' },
        'given-name': {
          maxLength: { value: 50, message: 'First Name must be under 50 characters.' }
        },
        'family-name': {
          maxLength: { value: 50, message: 'Last Name must be under 50 characters.' }
        },
        email: {
          email: { value: true, message: 'Email field must be a valid email.' },
          required: { value: true, message: 'Email field is required.' }
        }
      };

      $.get('api/users/me')
        .done(function onSuccess (data) {
          Form.setFormFields($form, fieldNameMap, data);
        })
        .fail(function onError (xhr, status, err) {
          Form.insertFormError($form, status);
        });

      $form.submit(function onSubmit (e) {
        e.preventDefault();

        if (!Form.validateForm($form, validationRules)) return;

        $.ajax({
          url: 'api/users',
          type: 'PUT',
          data: Form.getFormFields($form, fieldNameMap),
          success: function onSuccess (data) {
            window.location.replace('/dashboard');
          },
          error: function onError (xhr, status, err) {
            Form.insertFormError($form, status);
          }
        });
      });
    });
  }(jQuery, window.Form));
  </script>
</body>
</html>

