<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/internal-page-head.view.html %>
  <style>
    p.error {

    }
    p.field-error {

    }
    p.form-error {

    }
  </style>
</head>
<body>
  <header><% include ../../partials/admin-header.view.html %></header>

  <h1>Users</h1>

  <ul class="user-list">

  </ul>

  <script>
  "use strict";

  (function ($) {
    $(document).ready(function ($) {
      var $userList = $('.user-list');

      $.get('api/users')
        .done(function onSuccess (data) {
          var users = data.sort(function byEmail (a, b) {
              return a.email < b.email ? -1 : a.email > b.email ? 1 : 0;
            }).forEach(function addLink (user) {
              $userList
                .append($('<li/>')
                  .append($('<a/>').attr('href', '/admin/users/' + user._id + '/view')
                    .append($('<h3/>').text(user.email))
                    .append($('<p/>').text(user.firstName + ' ' + user.lastName))));
            });
        })
        .fail(function onError (xhr, status, err) {
          $userList.after($('<p/>').attr('class', 'error form-error').text(err));
        });
    });
  }(jQuery));
  </script>
</body>
</html>

